.table > tbody > tr > th {
  background-color: #e0dfe3 !important;
}

.query_details {
  padding: 20px 20px 30px 120px;
}

.query_answers {
  background-color: #f4f4f4;
  margin-left: -32px;
  margin-right: -32px;
  padding-bottom: 50px;
}

.answer_inner {
  background: rgba(255, 255, 255, 1.35);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  top: 10px;
  left: 0;
  position: relative;
  right: 0;
  z-index: 2;
  margin: -57px 301px 25px 200px;
  padding: 20px 10px 20px;
  min-width: 250px;
}

.answer_user_block {
    margin: 0px 0px 5px 120px;
}

.answer_create {
        margin: 47px 0px 1px 87px;
}

.answer_comment {
  margin: 24px 11px 11px 30px;
}

.row .comment_block {
  margin: 0px 89px 20px 37px;
}

.answer_user {
    margin: 0px 24px;
}

.answer_inner img {
  width: 100%;
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

.answer_count {
  margin: 20px 30px -15px 59px !important;
}

.answer_text {
  margin-bottom: 30px;
}

.answer_form label {
  display: none;

}

.answer_block {
  margin: 50px 0px 0px 0px;
}

.answer_form {
  width: 69%;
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
  margin:-22px 0px 20px 12%;
}

.query_close {
  background: rgba(257, 217, 150, 1);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  z-index: 2;
  margin: 10px 0px 20px -18px;
  padding: 10px 30px 5px 10px;
}

.avatar {
  background: #36bed4;
  color: #36bed4;
  width: 50px;
  height: 50px;
  border-radius: 250px;
  overflow: hidden;
  border-radius: 50%;
  color: white;
  text-align: center;
  padding: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.newquery .form-group {
  margin: 0px !important;
}

.newquery .btn-primary {
  margin-top: 10px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  background-color: #6cc644;
  background-image: -webkit-linear-gradient(#91dd70, #55ae2e);
  background-image: linear-gradient(#91dd70, #55ae2e);
  border: 1px solid #5aad35;
}

.newquery .btn-primary:hover {
  color: #fff;
  background-color: #6cc644;
  border-color: #6cc644;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.newquery {
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 40px;
  margin: 5px;
}

.user_login {
  margin: auto;
}

.user_login .form-control {
  margin: 10px;

}

.user_login button.btn.btn-def.btn-block {
  margin: 10px;
}

.login_back {
  padding: 20px;
  background: #f5f5f5;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25);
}

.is_responsive {
  /*width: 50%;*/
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;

}

.login_error {
  padding: 30px;
  margin: -31px;
  color: #E16454;
}

.login_text {
  margin-bottom: 30px;
  color: #555555;
  text-align: center;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.sign-up {

  margin: 37px 0px 0px;

}
.cke_chrome {
  border: 0px !important;
}
@media screen and (min-device-width: 200px) and (max-device-width: 768px) {
  .query_answers {
    background-color: #f5f5f5;
    margin-left: -32px;
    margin-right: -90px;
    padding-bottom: 50px;
  }

  .login_back {
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25);
  }

  .answer_inner {
    margin: 18px 332px 25px 65px;
  }
}

.input-group {
    margin: 20px 0px 30px 0px !important;
}


.profile{
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 32px;
    margin: 5px 0px 20px 10%;
    width: 50%;
}

iframe#comment_frame {
 border: none;
  width: 100%;
}

.userdetials {
    margin: 80px 30px 20px 90px;
}

.profiledetails {
    margin: 0px 0px 0px 80px;
}

.useractivity{
      line-height: 2;
}

.correctanswer {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
}

.correctanswer label {
    float:left;

}

.correctanswer label span {
    text-align:center;
    padding:3px 0px;
    display:block;
}

.correctanswer label input {
    position:absolute;
    top:-20px;
}

.correctanswer input:checked + span {
    background-color:#911;
    color:#fff;
}

.correctanswer label{
      margin-bottom: 0px;
}

