.avatar {
  width: 50px;
  height: 50px;
  border-radius: 250px;
  overflow: hidden;
  border-radius: 50%;
  color: white;
  text-align: center;
  padding: 14px;

}

.user_login {
  margin: auto;
}

.user_login .form-control {
  margin: 10px;

}

.user_login button.btn.btn-def.btn-block {
  margin: 10px;
}

.login_back {
  padding: 20px;
  background: #f5f5f5;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25);
}

.is_responsive {
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
  margin-bottom: 66px;

}

.login_error {
  padding: 30px;
  margin: -31px;
  color: #E16454;
}

.login_text {
  margin-bottom: 30px;
  color: #555555;
  text-align: center;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.sign-up {

  margin: 37px 0px 0px;

}

.cke_chrome {
  border: 0px !important;
}

.input-group {
  margin: 20px 0px 30px 0px !important;
}

.profile {
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 32px;
  margin: 5px 0px 20px 10%;
  width: 50%;
}

iframe#comment_frame {
  border: none;
  width: 100%;
}

.userdetials {
  margin: 80px 30px 20px 90px;
}

.profiledetails {
  margin: 0px 0px 0px 80px;
}

.useractivity {
  line-height: 2;
}

/*Don't display the checkbox for the correct answer*/

.answer_content label {
  display: none;
}

.answer_content input#id_correct_answer {
  display: none;
}

/* Homepage*/

header {
  color: #333333;
  font-family: "Lato";
  font-size: 13px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
  background: #fbfbfb !important;
  margin-bottom: 20px !important;
}

img.headeravatar.img-responsive {
  border-radius: 100%;
  max-width: 50px;
  height: 50px;
  margin: -7px 4px;
}

.fixedbody {
  margin: 100px 0px 0px 0px;
  font-family: "Lato";
  font-size: 14px;
  min-height: 521px;

}

.dropdown-toggle .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
  background-image: none !important;
  box-shadow: none !important;
}

.dropdown-toggle .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent !important;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: transparent;
}

.navbar-nav > li > .dropdown-menu {
  margin: 3px 19px !important;
}

ul.nav.navbar-nav.navbar-left.custommenu {
  margin: 14px 0 0 43px;
}

.navbar-header.header_logo {
  margin: 14px 40px 4px !important;
}

.headeredit {
  font-size: 35px !important;
  line-height: inherit !important;
}

.headerbtn {
  background: #6cc644 repeat scroll 0 0;
  border-radius: 2px;
  display: inline-block;
  line-height: 28px;
  padding: 0 12px;
  margin: 27px 35px 0 0;
}

.headerbtn a {
  color: #FFFFFF;
}

.headerbtn a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.headeravatar {
  margin: -8px 24px 0px 4px;
  color: #FFFFFF;
  width: 44px;
  border-radius: 250px;
  border-radius: 50%;
  color: white;
  text-align: center;
  padding: 11px;

}

.headeravatarimg {
  margin: -8px 14px 0px 10px;
  color: #FFFFFF;
  height: 50px !important;
  width: 50px;
  border-radius: 25px;

}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  box-shadow: 0 -2px 0 #54ae68 inset;
}

.homesearch_form {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px 0px 0px 142px;

}

.homesearchbackground {
  height: 300px;
}

#homesearchsubmit #homesearch {
  background-color: transparent;
  border: 0;
}

#homesearch {
  font-size: 34px;
  height: 100%;
  padding: 15px 39px 13px 15px;
  width: 100% !important;
  margin: 100px 0px 0px 0px;
}

#homesearchsubmit {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: transparent;
  margin: 119px 8px 0;
  background: transparent;
}

.homerecent {
  background-color: #f9f9f9;
  margin: 0px -17px 0px 50px;
  padding: 10px 34px 0px 30px;
  border-radius: 7px;
}

.recenttext {
  margin: 0px 0px 40px 0px
}

.searchbackgorund {
  background: #E9EBEE;
  margin: -32px -15px 28px -17px !important;
}

.footerbackground {
  background: #242424;
  color: #fff;
  width: 100%;
}

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}

body {
  height: 500px;
}

.footertext {
  padding: 10px;
}

.table > tbody > tr > th.hometablehead {
  border-top: none;
  text-transform: uppercase;;
}

.table > tbody > tr > th#category {
  border-bottom: 2px solid #6CC644;
}

.table > tbody > tr > th#question {
  border-bottom: 2px solid #000033;
  position: absolute;
}

.table > tbody > tr > td {
  border-top: none !important;
  border-bottom: 1px solid #e4e6e8;
  width: 30%;
}

.table > tbody > tr > th#recentanswer {
  border-bottom: 2px solid #000033;
}

.table > tbody > tr > th#recentuser {
  border-bottom: 2px solid #000033;
}

.table#homecategory > tbody > tr > td {
  border-bottom: none !important;
}

.recentuseravatar {
  margin: 0px 24px 0px 4px;
  color: #FFFFFF;
  width: 50px;
  height: 50px;
  border-radius: 250px;
  border-radius: 50%;
  color: white;
  text-align: center;
  padding: 14px;
}

.homecenter {
  text-align: center;
}

.homememberdetail {
  margin: 8px 0px 0px -130px;
}

.homecategorycolor {
  background: #E7E6E9;
  margin: 30px 0px 30px 0px;
  border-radius: 5px;
}

#homecategory {
  margin: 30px 0px 20px 0px;
  position: relative;
  left: 27% !important;
  width: 60%;

}

/*Homepage*/

/*Recent Questions*/
.recenttopic {
  border-bottom: 2px solid #6CC644;
}

.recentblack {
  border-bottom: 2px solid #000033;
}

.recenttable {
  margin: 30px 0px 0px 0px;
}

/*Recent Questions*/

/*Userquestions*/

.userbtn {
  background: #6cc644 repeat scroll 0 0;
  border-radius: 2px;
  display: inline-block;
  line-height: 28px;
  padding: 0 12px;
  margin: 0px 35px 0 0;
}

.userbtn a {
  color: #FFFFFF;
}

.userbtn a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.userquestionlist {
  background: #F4F4F4;
  padding: 30px 0px 30px 20px;
  margin: 15px 0px 0px 0px;
  border-radius: 4px;
}

.posteddate {
  margin: 10px 0px 0px 1px !important;
}

/*Userquestions*/

/*Useranswers*/
.useranswerlist {
  background: #F4F4F4;
  padding: 32px 0px 34px 49px;
  margin: 14px 0px 10px 0px;
  border-radius: 4px;
}

/*Useranswers*/

/*newquery*/
.newquery .form-control {
  margin: 20px 0px 30px 0px;
  width: 98%;
}

#newquerytitle {
  height: 60px;
}

.newquery .cke_chrome {
  border: 1px solid #2b579a !important;
  box-shadow: none;
}

.newquery .cke_top {
  border-bottom: 1px solid #2b579a;
}

.newquery button {
  background: #6CC644 !important;
  margin: 0px 0px 20px 0px;
  border: none;
}

.newquery .cke_chrome {
  width: 193% !important;
}

/*newquery*/

/*Querydetail*/

.answer_comment {
  margin: 24px 11px 11px 30px;
}

.answer_inner img {
  width: 100%;
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

.answer_count {
  margin: 20px 30px 20px 59px !important;
}

.answer_text {
  margin-bottom: 14px;
}

.query_close {
  background: rgba(257, 217, 150, 1);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  margin: 10px 0px 20px -18px;
  padding: 10px 30px 5px 10px;
}

.answer_block {
  background-color: #f5f5f5;
  margin: 40px 0px 50px 0px;
}

.comment_section {
  padding: 25px 80px 35px 85px;
}

.answer_content {
  font-size: 18px;
  padding: 20px 0px 0px 30px;
}

.answer_inner {
  background: #f5f5f5;
  padding: 0px 30px 55px 0px;
  margin: 0px -30px 50px -30px;
}

.answer_total {
  padding: 25px 0px 0px 45px !important;
}

.answers_box {
  margin: 0px 30px 30px 30px;
}

.answers_box {
  background: white;
  box-shadow: 3px 3px 5px 6px #ccc;
  width: 90%;
  top: 20px;
  left: 30px;
  position: relative;
  border-radius: 4px;
}

.comment_label {
  margin: 0px 0px 20px -18px;
}

.label.label-success.correctanswer_text.pull-right {
  margin: 0px 40px 0px 0px;
}

.answeruser_head {
  margin: -39px 0px 0px 92px;
}

.answer_user {
  margin: 20px 0px 0px 30px;
}

.answer_date {
  margin: 20px 40px 0px 0px;
}

.newcomment {
  margin: 0px 0px 0px 60px;
  padding: 0px 0px 16px 0px;
}

#post_button {
  background: rebeccapurple !important;
}

textarea#id_comment {
  height: 65px;
  width: 50%;
  border: 1px solid #888;
}

button#comment_button {
  background: #6cc644 repeat scroll 0 0;
  border-radius: 5px;
  display: inline-block;
  line-height: 28px;
  padding: 0 12px;
  border: none;
}

.answerform_block {
  margin: 0px 0px 30px 50px;
}

#answer_button {
  background: #6cc644 repeat scroll 0 0;
  border-radius: 5px;
  display: inline-block;
  line-height: 35px;
  padding: 0 26px;
  border: none;
}

.answer_form .cke_top {
  background: #c5c8c6;
  border-bottom: none;
}

.answer_form .cke_chrome {
  box-shadow: 0 0 0px 1px rgba(172, 181, 194, 0.56);
  width: 122% !important;
}

.answer_form .cke_bottom {
  background: none;
}

/*Querydetail*/

/*Media Query Start*/

@media screen and (min-device-width: 200px) and (max-device-width: 768px) {

  .login_back {
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25);
  }

  .table-responsive {
    overflow-x: hidden;
  }

  .cke_chrome {
    width: 100% !important;
  }

  .newquery .cke_chrome {
    width: 100% !important;
  }

  .answer_form .cke_chrome {
    width: 100% !important;
  }

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
  /* STYLES GO HERE */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width: 321px) {
  /* STYLES GO HERE */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width: 320px) {

}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {

  .cke_chrome {
    width: 160% !important;
  }

  .answer_form .cke_chrome {
    width: 160% !important;
  }

  .newquery .cke_chrome {
    width: 193% !important;
  }

}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {

  .cke_chrome {
    width: 160% !important;
  }

  .newquery .cke_chrome {
    width: 193% !important;
  }

  .answer_form .cke_chrome {
    width: 155% !important;
  }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {

  .cke_chrome {
    width: 160% !important;
  }

  .newquery .cke_chrome {
    width: 125% !important;
  }

  .answer_form .cke_chrome {
    width: 155% !important;
  }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width: 1224px) {

  .cke_chrome {
    width: 160% !important;
  }

  .answer_form .cke_chrome {
    width: 283% !important;
  }

  .newquery .cke_chrome {
    width: 193% !important;
  }

}

/* Large screens ----------- */
@media only screen
and (min-width: 1824px) {

  .cke_chrome {
    width: 160% !important;
  }

  .newquery .cke_chrome {
    width: 193% !important;
  }

  .answer_form .cke_chrome {
    width: 283% !important;
  }

}

/* iPhone 5 (portrait & landscape)----------- */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px) {
  /* STYLES GO HERE */
}

/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (orientation: landscape) {
  /* STYLES GO HERE */
}

/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (orientation: portrait) {
  /* STYLES GO HERE */
}

/*Media query end*/

