.avatar {
  background: #36bed4;
  color: #36bed4;
  width: 50px;
  height: 50px;
  border-radius: 250px;
  overflow: hidden;
  border-radius: 50%;
  color: white;
  text-align: center;
  padding: 14px;

}

.user_login {
  margin: auto;
}

.user_login .form-control {
  margin: 10px;

}

.user_login button.btn.btn-def.btn-block {
  margin: 10px;
}

.login_back {
  padding: 20px;
  background: #f5f5f5;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25);
}

.is_responsive {
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
  margin-bottom: 66px;

}

.login_error {
  padding: 30px;
  margin: -31px;
  color: #E16454;
}

.login_text {
  margin-bottom: 30px;
  color: #555555;
  text-align: center;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.sign-up {

  margin: 37px 0px 0px;

}

.cke_chrome {
  border: 0px !important;
}

.input-group {
  margin: 20px 0px 30px 0px !important;
}

.profile {
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 32px;
  margin: 5px 0px 20px 10%;
  width: 50%;
}

iframe#comment_frame {
  border: none;
  width: 100%;
}

.userdetials {
  margin: 80px 30px 20px 90px;
}

.profiledetails {
  margin: 0px 0px 0px 80px;
}

.useractivity {
  line-height: 2;
}

/*Don't display the checkbox for the correct answer*/

.answer_content label {
  display: none;
}

.answer_content input#id_correct_answer {
  display: none;
}

/* Homepage*/

header {
  color: #333333;
  font-family: "Lato";
  font-size: 13px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
  background: #fbfbfb !important;
  margin-bottom: 20px !important;
}

img.headeravatar.img-responsive {
  border-radius: 100%;
  max-width: 50px;
  height: 50px;
  margin: -7px 4px;
}

.fixedbody {
  margin: 100px 0px 0px 0px;
  font-family: "Lato";
  font-size: 14px;
  min-height: 521px;

}

.dropdown-toggle .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .open > a {
  background-image: none !important;
  box-shadow: none !important;
}

.dropdown-toggle .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent !important;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  background-color: transparent;
}

.navbar-nav > li > .dropdown-menu {
  margin: 3px 19px !important;
}

ul.nav.navbar-nav.navbar-left.custommenu {
  margin: 14px 0 0 43px;
}

.navbar-header.header_logo {
  margin: 14px 40px 4px !important;
}

.headeredit {
  font-size: 35px !important;
  line-height: inherit !important;
}

.headerbtn {
  background: #6cc644 repeat scroll 0 0;
  border-radius: 2px;
  display: inline-block;
  line-height: 28px;
  padding: 0 12px;
  margin: 27px 35px 0 0;
}

.headerbtn a {
  color: #FFFFFF;
}

.headerbtn a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.headeravatar {
  margin: -8px 24px 0px 4px;
  color: #FFFFFF;
  width: 44px;
  border-radius: 250px;
  border-radius: 50%;
  color: white;
  text-align: center;
  padding: 11px;

}

.headeravatarimg {
  margin: -8px 14px 0px 10px;
  color: #FFFFFF;
  height: 50px !important;
  width: 50px;
  border-radius: 25px;

}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  box-shadow: 0 -2px 0 #54ae68 inset;
}

.homesearch_form {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 75px 0px 124px 192px;
}

#homesearchsubmit #homesearch {
  background-color: transparent;
  border: 0;
}

#homesearch {
  font-size: 34px;
  height: 100%;
  padding: 15px 39px 13px 15px;
  width: 670px !important;
}

#homesearchsubmit {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: transparent;
  margin: 18px 8px 0;
  background: transparent;
}

.homerecent {
  background-color: #f9f9f9;
  margin: 0px -17px 0px 50px;
  padding: 10px 34px 0px 30px;
  border-radius: 7px;
}

.recenttext {
  margin: 0px 0px 40px 0px
}

.searchbackgorund {
  background: #E9EBEE;
  margin: -32px -15px 28px -17px !important;
}

.footerbackground {
  background: #242424;
  color: #fff;
  width: 100%;
}

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}

body {
  height: 500px;
}

.footertext {
  padding: 10px;
}

.table > tbody > tr > th.hometablehead {
  border-top: none;
  text-transform: uppercase;;
}

.table > tbody > tr > th#category {
  border-bottom: 2px solid #6CC644;
}

.table > tbody > tr > th#question {
  border-bottom: 2px solid #000033;
  position: absolute;
}

.table > tbody > tr > td {
  border-top: none !important;
  border-bottom: 1px solid #e4e6e8;
  width: 30%;
}

.table > tbody > tr > th#recentanswer {
  border-bottom: 2px solid #000033;
}

.table > tbody > tr > th#recentuser {
  border-bottom: 2px solid #000033;
}

.table#homecategory > tbody > tr > td {
  border-bottom: none !important;
}

.recentuseravatar {
  margin: 0px 24px 0px 4px;
  color: #FFFFFF;
  width: 50px;
  height: 50px;
  border-radius: 250px;
  border-radius: 50%;
  color: white;
  text-align: center;
  padding: 14px;
}

.homecenter {
  text-align: center;
}

.homememberdetail {
  margin: 8px 0px 0px -130px;
}

.homecategorycolor {
  background: #E7E6E9;
  margin: 30px 0px 30px 0px;
  border-radius: 5px;
}

#homecategory {
  margin: 30px 0px 20px 0px;
  position: relative;
  left: 27% !important;
  width: 60%;

}

/*Homepage*/

/*Recent Questions*/
.recenttopic {
  border-bottom: 2px solid #6CC644;
}

.recentblack {
  border-bottom: 2px solid #000033;
}

.recenttable {
  margin: 30px 0px 0px 0px;
}

/*Recent Questions*/

/*Userquestions*/

.userbtn {
  background: #6cc644 repeat scroll 0 0;
  border-radius: 2px;
  display: inline-block;
  line-height: 28px;
  padding: 0 12px;
  margin: 0px 35px 0 0;
}

.userbtn a {
  color: #FFFFFF;
}

.userbtn a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.userquestionlist {
  background: #F4F4F4;
  padding: 30px 0px 30px 20px;
  margin: 15px 0px 0px 0px;
  border-radius: 4px;
}

.posteddate {
  margin: 10px 0px 0px 1px !important;
}

/*Userquestions*/

/*Useranswers*/
.useranswerlist {
  background: #F4F4F4;
  padding: 32px 0px 34px 49px;
  margin: 14px 0px 10px 0px;
  border-radius: 4px;
}

/*Useranswers*/

/*newquery*/
.newquery .form-control {
  margin: 20px 0px 30px 0px;
  width: 98%;
}

#newquerytitle {
  height: 60px;
}

.newquery .cke_chrome {
  border: 1px solid #2b579a !important;
  box-shadow: none;
}

.newquery .cke_top {
  border-bottom: 1px solid #2b579a;
}

.newquery button {
  background: #6CC644 !important;
  margin: 0px 0px 20px 0px;
  border: none;
}

/*newquery*/

/*Querydetail*/
.answer_inner {
  background: rgba(255, 255, 255, 1.35);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  top: 10px;
  left: 0;
  position: relative;
  right: 0;
  z-index: 2;
  margin: -57px 301px 25px 200px;
  padding: 20px 10px 20px;
  min-width: 250px;
}

.answer_user_block {
  margin: 0px 0px 5px 120px;
}

.answer_create {
  margin: 47px 0px 1px 87px;
}

.answer_comment {
  margin: 24px 11px 11px 30px;
}

.row .comment_block {
  margin: 0px 89px 20px 37px;
}

.answer_user {
  margin: 0px 24px;
}

.answer_inner img {
  width: 100%;
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

.answer_count {
  margin: 20px 30px 20px 59px !important;
}

.answer_text {
  margin-bottom: 30px;
}

.query_close {
  background: rgba(257, 217, 150, 1);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  z-index: 2;
  margin: 10px 0px 20px -18px;
  padding: 10px 30px 5px 10px;
}

.query_details {
  padding: 20px 20px 30px 120px;
}

.query_answers {
  background-color: #f4f4f4;
  margin: 20px 0px 30px 0px;
  padding: 20px 0px 30px 0px;
}

/*Querydetail*/

/*Media Query Start*/

@media screen and (min-device-width: 200px) and (max-device-width: 768px) {
  .query_answers {
    background-color: #f5f5f5;
    margin: 20px 0px 30px 0px;
    padding: 20px 0px 30px 0px;
  }

  .login_back {
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.25);
  }

  .answer_inner {
    margin: 18px 332px 25px 65px;
  }

  .table-responsive {
    overflow-x: hidden;
  }
}

/*Media query end*/

