{% extends "base.html" %}
{% block title %}Post{% endblock %}
{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <form method="GET" action="">
                    <div class="input-group">
                        <input type="text" class="form-control" name="query" placeholder="Search">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <span>Search</span>
                        </button>
                    </span>
                    </div>
                </form>
            </div>
        </div>


        <div class="row">

            <table class="table table-responsive">
                <tr>
                    <th class="hometablehead recenttopic">Questions</th>
                    <th class="hometablehead recentblack">Posted User</th>
                    <th class="hometablehead recentblack">Answers</th>
                    <th class="hometablehead recentblack">Last Updated time</th>
                </tr>
                <tr>
                    {% for query in list %}
                        <td>

                            <a href="{{ query.get_absolute_url }}">
                                {{ query.title }}
                            </a>
                            {% if query.close %}
                                <span class="label label-warning">Closed</span>
                            {% endif %}

                        </td>
                        <td>
                            {% if query.user.profile.photo %}
                                <div class="row">
                                    <img src="{{ MEDIA_URL }}{{ query.user.profile.photo.url }}"
                                         class="headeravatarimg img-responsive" width="100" height="100">
                                    <span class="label label-info">member from {{ query.user.date_joined | timesince }}</span>
                                </div>
                            {% else %}
                                <div class="recentuseravatar">
                                    {{ query.user | make_list|first|title }}
                                </div>
                                <span class="label label-info">since member{{ query.user.date_joined | timesince }}</span>
                            {% endif %}
                        </td>
                        <td>
                            {{ query.answer.count }}
                        </td>
                        <td>
                            {{ query.create |timesince }} ago
                        </td>
                        </tr>
                    {% endfor %}
            </table>

        </div>
    </div>
{% endblock %}
