{% extends "base.html" %}
{% block title %}Post{% endblock %}
{% block content %}

    <div class=" container-fluid recentbackground">


        <div class="container">
            <div class="question_search">
                <div class="col-sm-6 col-sm-offset-3">
                    <form method="GET" action="">
                        <div class="input-group">
                            <input type="text" class="form-control" name="query" placeholder="Search">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                   <span>Search</span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="container">

            {% for query in list %}

                <div class="recent_q_back">
                    <div class="col-lg-1 col-sm-4 col-xs-4 col-md-1">
                        <div class="pull-left">
                            {% if query.user.profile.photo %}

                                <div class="recent_q_userimg">
                                    <img src="{{ MEDIA_URL }}{{ query.user.profile.photo.url }}" class="img-responsive">
                                </div>
                            {% else %}
                                <div class="">
                                    {{ query.user | make_list|first|title }}
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-lg-11 col-sm-8 col-xs-8 col-md-11">
                        <div class="recent_q_detail">
                            <div class="row">
                               <span class="recent_q_detail_title">
                                    <a href="{{ query.get_absolute_url }}">{{ query.title }}</a>
                               </span>

                                {% if query.close %}
                                    <span class="label label-warning">Closed</span>
                                {% endif %}
                            </div>

                            <div class="row">
                                <span class="recent_q_desc">{{ query.description | safe }}</span>
                            </div>


                            <div class="row">
                                <div class="recent_q_userdetail">
                                    <div class="col-sm-4">
                                        <span class="recent_q_user">By {{ query.user }}</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <span class="recent_q_update">Updated {{ query.create |timesince }}</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <span class="recent_q_answers">{{ query.answer.count }} Replies</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            {% endfor %}

        </div>

    </div>


{% endblock %}
