{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}correctanswer{% endblock %}
{% block content %}
    <form action="." method="post" id="correctanswerform">
        {% csrf_token %}
        <div class="correctanswer">
            <label>
                {% render_field correctanswer.correct_answer id="correctanswer_button" class="form-control input-md" %}<span>Bestanswer</span>
            </label>
        </div>
    </form>
{% endblock %}

{% block javascript %}
    <script>
        $("#correctanswer_button").click(function () {
            $("#correctanswerform").submit()
        })
    </script>
{% endblock %}
