{% extends "base.html" %}
{% block title %}Post{% endblock %}
{% block content %}

    <div class="container-fluid searchbackgorund">

        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-lg-8 col-md-12 col-xs-9 homesearchbackground">

                    <form method="GET" action="">
                        <div class="homesearch_form">
                            <input type="text" class="form-control" name="query" placeholder="Enter your Search"
                                   id="homesearch">
                            <button tabindex="102" class="button" type="submit" id="homesearchsubmit" title="Search">
                                <i class="material-icons">search</i>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class=" container-fluid homecontentbackground">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            {% for eachquery in recent %}
                <div class="post">
                    <div class="wrap-ut pull-left">
                        <div class="userinfo pull-left">
                            <div class="avatar">
                                {% if eachquery.user.profile.photo %}
                                    <img src="{{ MEDIA_URL }}{{ eachquery.user.profile.photo.url }}"
                                         class="headeravatarimg img-responsive">
                                {% else %}
                                    <div class="recentuseravatar">
                                        {{ eachquery.user | make_list|first|title }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="icons">
                               Since {{ eachquery.user.date_joined|timesince }}
                            </div>

                        </div>
                        <div class="posttext pull-left">
                            <h2><a href="{{ eachquery.get_absolute_url }}">{{ eachquery.title }}</a></h2>
                            <p>{{ eachquery.description | safe }}</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="postinfo pull-left">
                        <div class="comments">
                            <div class="commentbg">
                                {{ eachquery.answer.count }}
                                <div class="mark"></div>
                            </div>

                        </div>
                        <div class="time"><i class="fa fa-clock-o"></i>{{ eachquery.create | timesince }}</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            {% endfor %}
            {% include "forum/app/paginator.html" %}
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="sidebarblock">
                <h3>Categories</h3>
                <div class="divline"></div>
                <div class="blocktxt">
                    <ul class="cats">
                        <li>
                            <a href="{% url "general" %}">General
                                {% with general.count as total_answers %}
                                    <span class="badge pull-right">{{ total_answers }}</span>
                                {% endwith %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url "announcement" %}">Announcement
                                {% with announcements.count as total_answers %}
                                    <span class="badge pull-right">{{ total_answers }}</span>
                                {% endwith %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url "bugreport" %}">Bug Report
                                {% with bugreport.count as total_answers %}
                                    <span class="badge pull-right">{{ total_answers }}</span>
                                {% endwith %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url "tips" %}">Tips and Tricks
                                {% with bugreport.count as total_answers %}
                                    <span class="badge pull-right">{{ total_answers }}</span>
                                {% endwith %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>




{% endblock %}
