{% extends "base.html" %}
{% block title %}Post{% endblock %}
{% block javascript %}
    <script>

    </script>
{% endblock %}
{% block content %}

    <div class="col-md-12 col-sm-12">
        <div class="answer_block ">
            {% if query.close == False %}

                <div class="row">
                    <div class="answer_text">
                        <h3> Your Answer</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="answer_form clearfix">
                        <form action="." method="post">

                            <table>
                                 {% csrf_token %}
                                {{ answer_form.media }}
                                {{ answer_form.as_table }}
                            </table>
                            <button class="btn btn-primary pull-right" id="post_button">Post the Answer</button>
                        </form>
                    </div>
                </div>
            {% endif %}{% comment %}query posted user check{% endcomment %}
        </div>
        {% comment %}answer block css class end {% endcomment %}
    </div>

{% endblock %}

