{% if messages %}
    <div class="message">
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="{{ query.get_absolute_url }}" target="_top" class="close">×</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}

<form action="." method="post">
    {% csrf_token %}
    <table>
        {{ commentform.as_table }}
    </table>
    <button class="btn btn-primary" id="post_button" onclick="refreshParent()">Post the Comment</button>
</form>


{% block javascript %}
    <script>
        function refreshParent() {
        // window.location.reload(true);
        }
    </script>
{% endblock %}
