{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Post{% endblock %}
{% block content %}
    <form action="." method="post">

        {% csrf_token %}
        <div class="container">

            <div class="col-lg-2">
                <div class="newquery_avatar">
                    {{ request.user}}
                </div>
            </div>
            <div class="col-lg-8">
                <div class="newquery clearfix">
                    {{ query_form.media }}
                    {% render_field query_form.title class="form-control" placeholder="Enter your query"%}
                    {% render_field query_form.description class="form-control" placeholder="Add description"%}
                    {% render_field query_form.category class="form-control" placeholder="select query category"%}
                    <button class="btn btn-primary pull-right">Submit query</button>
                </div>
            </div>

        </div>
    </form>
{% endblock %}
