{% extends "base.html" %}
{% block title %}QueryDetail{% endblock %}

{% block content %}

    <div class="col-lg-12 col-md-6 col-sm-12">
        <div class="query_details clearfix">
           <span class="col-lg-10 pull-left">
               <h2 class="page-title"> {{ query.title }}</h2>
            {{ query.description | safe }}

           </span>
            <span class="col-lg-2 pull-right">
                <span class="row">
                   <div class="avatar">
                        {{ query.user | make_list|first|title }}
                   </div>
                </span>
                 <span class="row center-block">
                     {{ query.create.date }}
                 </span>
            </span>
        </div>
    </div>

    <div class="col-sm-12 col-lg-12 col-md-12">
        <div class="query_answers clearfix">
            <div class="row answer_count">
                {% with answers.count as total_answers %}
                    <h5>
                        <span class="badge">{{ total_answers }}</span>
                        <span class="label label-info">answer{{ total_answers|pluralize }}</span>
                    </h5>
                {% endwith %}
            </div>
            <div class="row">
                {% for answer in answers %}

                    <div class="answer_user_block">

                        <div class="answer_create">
                            <h6>
                                <span>{{ answer.user }}</span>
                                <span class="label label-default">{{ answer.create }}</span>
                            </h6>
                        </div>


                        <div class="answer_user">
                            <div class="avatar">
                                {{ answer.user | make_list|first|title }}
                            </div>
                        </div>
                    </div>

                    <div class="answer_inner clearfix">
                        <div class="col-lg-12">
                            <div class="answer_content">
                                {% if correct.count < 1 %}
                                    {% if request.user == query.user %}
                                        <form action="." method="post">
                                            {% csrf_token %}
                                            {{ correctanswer }}
                                            <input type="hidden" name="correctanswer_id" value="{{ answer.id }}">
                                            <button class="btn btn-primary pull-right" id="answer_button" name="correct_answer">
                                                BestAnswer
                                            </button>

                                        </form>
                                    {% endif %}
                                {% endif %}
                                {% for c in correct %}
                                    {% if correct.count == 1 %}
                                        {% if answer.id == c.answer.id %}
                                            <div class=" label label-success correctanswer_text pull-right">
                                                <p>BestAnswer</p>
                                            </div>
                                        {% else %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                                {{ answer.content| safe | linebreaks }}
                            </div>

                            <hr>

                            <div class="row comment_block">
                                <div class="row ">
                                    <h4 class="label label-primary"> Comments: </h4>
                                </div>
                                {% for answer_comment in comment %}
                                    {% if answer_comment.answer|stringformat:"s"  == answer.content|stringformat:"s" %}

                                        <div class="answer_comment">
                                            <div class="row">
                                                {{ answer_comment.comment }}
                                                <div class="pull-right">
                                                    {{ answer_comment.user }}
                                                    {{ answer_comment.create | timesince }} ago
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="row">
                                <div class="newcomment">
                                    {% if user.is_authenticated %}
                                        <iframe src="{% url "comment" answer.id query.slug %}" height="300px"
                                                width="100%" id="comment_frame"></iframe>
                                    {% else %}
                                        <h3> Please login to add comments</h3>
                                        <a href="{% url "login" %}?next={% firstof request.path '/' %}">Login</a>
                                    {% endif %} {% comment %}query user log-in check {% endcomment %}
                                </div>
                            </div>
                        </div>

                    </div>
                {% empty %}
                    <span class="info answer_count">There are no answers yet.</span>
                {% endfor %}
            </div>
        </div>
    </div>

    {% if query.close %}

        <div class="col-lg-12 col-sm-12">
            <div class="query_close clearfix">
            <span class="pull-left">
                <span class="row"> Closed Reason</span>
                <span class="row">{{ query.closed_reason }}</span>
            </span>
            <span class="pull-right ">
                 <span class="row">closed by</span>
                 <span class="row">{{ query.user }}</span>
            </span>
            </div>
        </div>

    {% else %}
        {% if user.is_authenticated %}

            <div class="answer_block">
                {% if query.close == False %}

                    <div class="row">
                        <div class="answer_text">
                            <h3> Your Answer</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="answer_form clearfix">
                            <form action="." method="post">
                                {% csrf_token %}
                                <table>
                                    {{ answerform.media }}
                                    {{ answerform }}
                                </table>
                                <button class="btn btn-primary" id="answer_button" name="post_answer">
                                    Post the Answer
                                </button>
                            </form>
                        </div>
                    </div>

                    </div>
                {% endif %}{% comment %}query close check {% endcomment %}

        {% else %}
            <h3> Please login to add the answer</h3>
            <a href="{% url "login" %}?next={% firstof request.path '/' %}">Login</a>
        {% endif %} {% comment %}query user log-in check {% endcomment %}

    {% endif %}

{% endblock %}

{% block javascript %}

    <script>

    </script>

{% endblock %}

