{% extends "base.html" %}
{% block title %}QueryDetail{% endblock %}
{% load widget_tweaks %}
{% block content %}




    <div class="container clearfix">
           <span class="col-lg-10 pull-left">
               <h2 class="page-title"> {{ query.title }}</h2>
            {{ query.description | safe }}

           </span>
            <span class="col-lg-2 pull-right">
                <span class="row">
                   <div class="avatar">
                        {{ query.user | make_list|first|title }}
                   </div>
                </span>
                 <span class="row center-block">
                     {{ query.create.date }}
                 </span>
            </span>
    </div>

    {% comment %} Total answer block {% endcomment %}
    <div class="answer_block">

        <div class="col-lg-12 col-xs-12 col-sm-12 col-md-12">

            <div class="answer_inner">

                <div class="row answer_total">

                    {% with answers.count as total_answers %}
                        <h5>
                            <span class="badge">{{ total_answers }}</span>
                            <span class="label label-info">answer{{ total_answers|pluralize }}</span>
                        </h5>
                    {% endwith %}

                </div>

                <div class="row">

                    {% for answer in answers %}

                        <div class="row">
                            <div class="col-lg-12 col-xs-10 col-sm-10 col-md-10">

                                <div class="answers_box">

                                    <div class="row">

                                        <div class="pull-left">

                                            <div class="answer_user">
                                                <div class="avatar">
                                                    {{ answer.user | make_list|first|title }}
                                                </div>
                                            </div>

                                            <div class="answeruser_head">
                                                <h5>
                                                    <span>
                                                        <a href="{% url "userview" answer.user.id answer.user.username %}">{{ answer.user }} </a>
                                                    </span>
                                                </h5>
                                            </div>
                                        </div>

                                        <div class="pull-right answer_date">
                                            Answered on <span class="label label-default">{{ answer.create }}</span>
                                        </div>


                                    </div>

                                    <div class="row">
                                        <div class="answer_content">
                                            {% if correct.count < 1 %}
                                                {% if request.user == query.user %}
                                                    <form action="." method="post">
                                                        {% csrf_token %}
                                                        {{ correctanswer }}
                                                        <input type="hidden" name="correctanswer_id"
                                                               value="{{ answer.id }}">
                                                        <button class="btn btn-primary pull-right" id="answer_button"
                                                                name="correct_answer">
                                                            BestAnswer
                                                        </button>

                                                    </form>
                                                {% endif %}
                                            {% endif %}
                                            {% for c in correct %}
                                                {% if correct.count == 1 %}
                                                    {% if answer.id == c.answer.id %}
                                                        <div class=" label label-success correctanswer_text pull-right">
                                                            <p>BestAnswer</p>
                                                        </div>
                                                    {% else %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}

                                            {{ answer.content| safe | linebreaks }}
                                        </div>

                                        <hr>

                                        <div class="row comment_section">

                                            <div class="row  comment_label">
                                                <h4 class="label label-primary"> Comments: </h4>
                                            </div>

                                            {% for answer_comment in comment %}
                                                {% if answer_comment.answer|stringformat:"s"  == answer.content|stringformat:"s" %}

                                                    <div class="">
                                                        <div class="row">
                                                            <div class="pull-left">
                                                                {{ answer_comment.comment }}
                                                            </div>
                                                            <div class="pull-right">
                                                                {{ answer_comment.user }}
                                                                {{ answer_comment.create | timesince }} ago
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                {% endif %}
                                            {% endfor %}

                                        </div>

                                        <div class="row">
                                            <div class="col-lg-12 col-xs-10 col-sm-10 col-md-10">
                                                <div class="newcomment">
                                                    {% if user.is_authenticated %}
                                                        <form action="." method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="answer_id"
                                                                   value="{{ answer.id }}">
                                                            {% for hidden in user_form.hidden_fields %}
                                                                {{ hidden }}
                                                            {% endfor %}

                                                            <div class="form-group">
                                                                {% render_field commentform.comment class="form-control input-md" placeholder="Enter your comment" %}
                                                                {% for error in field.errors %}
                                                                    <span class="help-block">{{ error }}</span>
                                                                {% endfor %}
                                                            </div>
                                                            <button class="btn btn-primary" id="comment_button"
                                                                    name="post_comment">Add Comment
                                                            </button>
                                                        </form>

                                                    {% else %}
                                                        <h3> Please login to add comments</h3>
                                                        <a href="{% url "login" %}?next={% firstof request.path '/' %}">Login</a>
                                                    {% endif %} {% comment %}query user log-in check {% endcomment %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% comment%} answer and comment box inside row {% endcomment %}
                                {% comment %} answerbox {% endcomment %}
                            </div>
                            {% comment %} Column specify {% endcomment %}
                        </div> {% comment %} User and anser in one row{% endcomment %}


                    {% empty %}
                        <span class="info answer_count">There are no answers yet.</span>

                    {% endfor %}
                </div>

            </div>
            {% comment %} End of the inner col {% endcomment %}
        </div>
        {% comment %} End of the column{% endcomment %}
    </div> {% comment %} End of answer_block {% endcomment %}



    {% if query.close %}

        <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
            <div class="query_close clearfix">
            <span class="pull-left">
                <span class="row"> Closed Reason</span>
                <span class="row">{{ query.closed_reason }}</span>
            </span>
            <span class="pull-right ">
                 <span class="row">closed by</span>
                 <span class="row">{{ query.user }}</span>
            </span>
            </div>
        </div>

    {% else %}

        {% if user.is_authenticated %}
            {% if query.close == False %}


                <div class="col-lg-12 col-xs-10 col-sm-10 col-md-10">
                    <div class="answerform_block">

                        <div class="row">
                            <div class="answer_text">
                                <h4>Your Answer</h4>
                            </div>
                        </div>

                        <div class="row">
                            <div class="answer_form">
                                <form action="." method="post">
                                    {% csrf_token %}
                                    {{ answerform.media }}
                                    {% for hidden in user_form.hidden_fields %}
                                        {{ hidden }}
                                    {% endfor %}

                                    <div class="form-group">
                                        {% render_field answerform.content class="form-control input-md" placeholder="Enter your answer here" %}
                                        {% for error in field.errors %}
                                            <span class="help-block">{{ error }}</span>
                                        {% endfor %}
                                    </div>

                                    <button class="btn btn-primary" id="answer_button" name="post_answer">
                                        Post Answer
                                    </button>

                                </form>
                            </div>
                        </div>

                    </div>
                </div>


            {% endif %}{% comment %}query close check {% endcomment %}
        {% else %}
            <h3> Please login to add the answer</h3>
            <a href="{% url "login" %}?next={% firstof request.path '/' %}">Login</a>
        {% endif %} {% comment %}query user log-in check {% endcomment %}

    {% endif %}

{% endblock %}

{% block javascript %}

    <script>

    </script>

{% endblock %}

