{% extends "base.html" %}
{% block title %}Post{% endblock %}
{% block content %}
    <div class="container">
        {% for query in answers %}
            <div class="row">
                <a href="{{ query.post.get_absolute_url }}">
                    {{ query.post.title }}
                </a>
                <span class="row">
                    {{ query.content|safe }}
                    <span class="pull-right"> {{ query.create }}</span>
                </span>
            </div>
            <hr>
        {% empty %}
            <h2> No answers posted yet</h2>
        {% endfor %}
    </div>
{% endblock %}
