{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Post{% endblock %}
{% block content %}
    <div class="container">
        <form action="." method="post">

            {{ editform.media }}
            {% csrf_token %}

            {% for hidden in user_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            <div class="editformerror">
                {% if editform.errors %}
                    {% for field in editform %}
                        {% for error in field.errors %}
                            <div class="label label-danger">

                                {{ error|escape }}

                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-xs-10">
                <div class="answeredit">
                    {% render_field editform.content class="form-control input-md" placeholder="Update the title" %}
                </div>
                <div class="answereditbtn pull-right">
                    <button type="submit" class="btn answereditbutton">Edit Answer</button>
                </div>

            </div>
        </form>
    </div>
{% endblock %}
