{% extends "base.html" %}

{% block content %}

    <div class="container">


          <hr>
            <div class="col-lg-6">


                <div class="col-lg-6">
                    {% if request.user.profile.photo %}
                        <img src="{{ MEDIA_URL }}{{ request.user.profile.photo.url }}"
                             class="img-responsive" width="250" height="250">

                    {% else %}

                        <div class="avatar">
                            {{ request.user | make_list|first|title }}
                        </div>
                        <div class="btn-block btn-sm btn-info"> You can change your profile picture in profile edit
                        </div>
                    {% endif %}
                </div>

                <div class="col-lg-6">
                    <div class="profiledetails">
                        <h2>{{ user.username |capfirst }}</h2>
                        <h4>{{ profile.date_of_birth }}</h4>
                        <h4>{{ user.email }}</h4>
                    </div>
                </div>
            </div>


            <div class="col-lg-6">

                <div class="useractivity">
                    <div class="row">
                           <span class="col-lg-6">
                            {% with userquestions.count as total_questions %}
                                <div class="newq_anscount">{{ total_questions }}</div>
                            {% endwith %}
                               <div class="badge"> Questions </div>
                           </span>
                          <span class="col-lg-6">
                           {% with useranswers.count as total_answers %}
                               <div class="newq_anscount"> {{ total_answers }}</div>
                           {% endwith %}
                              <div class="badge"> Answers </div>
                          </span>

                    </div>
                    <div class="row">
                        Last Seen: {{ request.user.last_login | timesince }}
                    </div>
                    <div class="row">
                        Member From: {{ request.user.date_joined | timesince }}
                    </div>
                </div>

            </div>

    <hr>

    </div>
{% endblock %}
