{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Post{% endblock %}
{% block content %}
        <form action="." method="post">
            {% for hidden in closeform.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in closeform.visible_fields %}
                <div class="form-group">
                    {{ field|add_class:'form-control' }}
                    {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}
            {% csrf_token %}
            <p><input type="submit" value="Post new Answer"></p>
        </form>
{% endblock %}
