{% extends "base.html" %}
{% block title %}Post{% endblock %}
{% block content %}

    <div class="container">

        {% for query in post %}
            {% comment %}
                URL reverse is used here
                post_edit require slug feild to url so each query slug is collect from the query
            {% endcomment %}
            <a href="{{ query.get_absolute_url }}">
                {{ query.title }}
            </a>

            {% if query.close %}
                <span class="pull-left">Closed</span>
            {% else %}
                <span class="pull-right"><a href="{% url "question_close" query.slug %}">close</a></span>
            {% endif %}

            <span class="pull-right">
                {% if query.close %}
                {% else %}
                    <a href="{% url "question_edit" query.slug %}">edit</a>
                {% endif %}
            </span>

            </h2>
            <hr>
        {% empty %}
            <h2> No Question post yet</h2>
            <a href="{% url "newquery" %}">Post Your first Query</a>
        {% endfor %}

    </div>

{% endblock %}

