{% extends "base.html" %}
{% block title %}Post{% endblock %}
{% block content %}
    <div class="container">
        {% for answer in answers %}
            <div class="row">
                <a href="{{ answer.post.get_absolute_url }}">
                    {{ answer.post.title }}
                </a>
                <span class="row">
                    {{ answer.content|safe }}  <a href="{% url "editanswer" answer.id answer.post.slug %}"> edit </a>
                    <span class="pull-right"> {{ answer.create }}</span>
                </span>
            </div>
            <hr>
        {% empty %}
            <h2> No answers posted yet</h2>
        {% endfor %}
    </div>
{% endblock %}
