{% extends "base.html" %}
{% block title %}Userquestions{% endblock %}
{% block content %}

    <div class=" container-fluid userquerybackground">

        <div class="container">

            {% for each in post %}

                <div class="user_q_back">

                    <div class="user_q_detail">

                        <div class="row">
                            <div class="userquerydetailabove">
                                <span class="recent_q_detail_title">
                                      <a href="{{ each.get_absolute_url }}">{{ each.title }}</a>
                                </span>

                                <span>
                                    {% if each.close %}
                                    {% else %}
                                        <span class="pull-right">
                                            <div class="userbtn">
                                               <a id="userbtnref" href="{% url "question_edit" each.slug %}">edit</a>
                                            </div>
                                         </span>
                                    {% endif %}

                                    {% if each.close %}
                                        <span class="label label-danger">Closed</span>
                                    {% else %}
                                        <span class="pull-right">
                                             <div class="userbtn">
                                                 <a id="userbtnref"
                                                    href="{% url "question_close" each.slug %}">close</a>
                                             </div>
                                         </span>
                                    {% endif %}
                                </span>

                            </div>

                        </div>

                        <div class="row">
                            <div class="recent_q_userdetail">
                                <div class="col-sm-6">
                                    <span class="recent_q_update">Updated {{ each.create }} ago</span>
                                </div>
                                <div class="col-sm-6">
                                    <span class="user_q_answers">{{ each.answer.count }} Replies</span>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            {% empty %}
                <h2> No Question post yet</h2>
                <a href="{% url "newquery" %}">Post Your first Query</a>

            {% endfor %}

        </div>

    </div>

{% endblock %}
