{% load staticfiles %}
<!Doctype html>
<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>

    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-theme.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    {{ form.media }}
</head>
<body>

<header id="top" class="navbar navbar-default navbar-fixed-top flat-nav">
    <div class="container-fluid">
        <div class="navbar-header header_logo">
            <button data-target=".flat-nav-collapse" data-toggle="collapse" type="button"
                    class="nav-tog lines-button x navbar-toggle neutro">
                <span class="sr-only sr-nav">Toggle Navigation</span>
                <span class="lines"></span>
            </button>
            <a class="navbar-brand" href="http://127.0.0.1:8000">SAP Forum</a>
        </div>
        <!-- Main navigation block -->
        <nav class="collapse navbar-collapse flat-nav-collapse" aria-label="Primary">

            {% if request.user.is_authenticated %}
                <ul class="nav navbar-nav navbar-left custommenu">
                    <li {% if section == "newquery" %}class="selected"{% endif %}>
                        <a href="{% url "newquery" %}">New Post</a>
                    </li>
                    <li {% if section == "recent" %}class="selected"{% endif %}>
                        <a href="{% url "recent" %}">Recent Questions</a>
                    </li>
                    <li {% if section == "question" %}class="selected"{% endif %}>
                        <a href="{% url "question" %}">Questions</a>
                    </li>
                    <li {% if section == "myquestions" %}class="selected"{% endif %}>
                        <a href="{% url "user_posts" %}">My Questions</a>
                    </li>
                    <li {% if section == "myanswers" %}class="selected"{% endif %}>
                        <a href="{% url "user_answers" %}">My Answers</a>
                    </li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-left custommenu">
                    <li {% if section == "newquery" %}class="selected"{% endif %}>
                        <a href="{% url "newquery" %}">New Post</a>
                    </li>
                    <li {% if section == "recent" %}class="selected"{% endif %}>
                        <a href="{% url "recent" %}">Recent Questions</a>
                    </li>
                    <li {% if section == "question" %}class="selected"{% endif %}>
                        <a href="{% url "question" %}">Questions</a>
                    </li>
                </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li><a href="{% url "edit" %}"><i class="material-icons headeredit">edit</i></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            {% if request.user.profile.photo %}
                                <img src="{{ MEDIA_URL }}{{ request.user.profile.photo.url }}"
                                     class="headeravatarimg img-responsive" width="100" height="100">

                            {% else %}
                                <div class="headeravatar">
                                    {{ request.user | make_list|first|title }}
                                </div>
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url "userview" request.user.pk request.user.username %}">profile</a>
                            </li>
                            <li><a href="{% url "logout" %}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    {% comment %}
                           firstof get the current path and login to that path
                        {% endcomment %}
                    <div class="headerbtn">
                        <li><a id="headerbtnref" href="{% url "login" %}?next=">Login</a></li>
                    </div>
                {% endif %}
            </ul>

        </nav>
    </div>
</header>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li class="{{ message.tags }}">
                {{ message|safe }}
                <a href="#" class="close">×</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}

<div class="container-fluid fixedbody">
    {% block content %}

    {% endblock %}
</div>


<footer>
    <div class="container-fluid footerbackground">
        <div class="footertext">
            <p>Copyright 2016-2017. SAP Forums Developed by Arms alias ARUN</p>
        </div>
    </div>
</footer>

<script src="{% static 'js/forum.js' %}"></script>
{% block javascript %}{% endblock %}
</body>
</html>



