{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Log-in{% endblock %}

{% block content %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="container loginfont">

            <div class="row">
                <div class="login_text">
                    <h1>Sign into SAP forum</h1>
                </div>
            </div>
            <div class=" row login_error">
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="row">
                <div class="user_login is_responsive">
                    <li class="google"><a href="{% url "social:begin" "google" %}">Login with Google</a></li>
                    <div class="login_back">
                        <div class="col-sm-12 col-md-12 col-xs-12">
                            {% render_field form.username class="form-control input-md" placeholder="Enter Username" %}
                            {% render_field form.password class="form-control input-md" placeholder="Enter Password" %}
                            <input type="hidden" name="next" value="{{ next }}"/>
                            <div class="loginbutton">
                                <button class="btn btn-def btn-block">Login</button>
                            </div>
                            <span><a href="{% url "password_reset" %}">Forget your password?</a></span>
                            <span class="row">
                                <div class="sign-up">
                                     <h5>Don't have account?</h5>
                                    <div class="signupbutton">
                                        <button class="btn btn-def btn-block">
                                            <a href="{% url "register" %}">Signup</a>
                                        </button>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </form>
{% endblock %}
